<%- include("partials/header") %>
<section class="blacklisted-personages">
    <h2 class="page-title">Blacklisted personages</h2>
    <p class="pagina-uitleg">Hier zijn al je blacklisted personages. Die zal je niet meer terugzien in je favorieten of bij het kiezen van andere personages. Je kunt ook kiezen om ze te verwijderen.</p>
    <article class="personages">
      <div class="personage">
        <% blacklistedPersonages.forEach((blacklistedPersonage) => { %>
          <a href="/detailed-favo-page/<%= blacklistedPersonage.id %>" class="personage">
            <h4><%= blacklistedPersonage.naam %></h4>
            <img src="<%= blacklistedPersonage.foto %>" class="personage-foto" />
          </a>
          <div class="reden">
            <h3>Reden</h3>
            <p><%= blacklistedPersonage.reden %></p>
        </div>
        <div class="blacklist-buttons">
          <form class="hidden-form" action="/redenAanpassen" method="post">
            <button class="hidden-button" type="submit"><img class="potlood" src="/images/potlood.jpg" alt=""></button>
          </form>
          <form class="hidden-form" action="/verwijderen" method="post">
            <input type="hidden" name="blacklistedPersonage" value="<%= JSON.stringify(blacklistedPersonage) %>">
            <button class="hidden-button" type="submit"><img class="vuilbakje" src="/images/vuilbakje.png" alt="Verwijderen"></button>
          </form>
        </div>
        <% }); %>
      </div>
      </article>
  </section>
<%- include("partials/footer") %>