<%- include("partials/header") %>
<section class="detailed-personage">
    <h2 class="page-title"><%= sessionPersonageAvatarDetail.naam %></h2>
    <article class="personage-detail-container">
      <img src="<%= sessionPersonageAvatarDetail.foto %>"/>
      <div class="tekst-en-buttons-container">
        <div>
          <h3>Biografie</h3>
          <p>
            <%= sessionPersonageAvatarDetail.biografie %>
          </p>
        </div>
        <div class="buttons-container">
          <form class="hidden-form-button" action="/avatar-instellen" method="post">
            <input type="hidden" name="personage" value="<%= JSON.stringify(sessionPersonageAvatarDetail) %>">
            <button type="submit">Avatar instellen</button>
          </form>
          <form class="hidden-form-button" action="/favoriet-toevoegen" method="post">
            <input type="hidden" name="favorietePersonage" value="<%= JSON.stringify(sessionPersonageAvatarDetail) %>">
            <button type="submit">Favoriet toevoegen</button>
          </form>
          <form class="hidden-form-blacklist" action="/blacklisten" method="post">
            <input type="hidden" name="blacklistedPersonage" value="<%= JSON.stringify(sessionPersonageAvatarDetail) %>">
            <button type="submit">Blacklisten</button>
            <div style="margin-left: 50px;">
              <p>Geef hier je blacklist reden in:</p>
              <textarea class="fortnite-textarea" name="blacklistReden" cols="30" rows="5" placeholder="Schrijf hier je blacklist reden..."></textarea>
            </div>
          </form>
        </div>
      </div>
    </article>
  </section>
<%- include("partials/footer") %>