<%- include("partials/header") %>
<section class="detailed-personage">
    <h2 class="page-title"><%= sessionPersonageAvatarDetail.naam %></h2>
    <article class="personage-detail-container">
      <img src="<%= sessionPersonageAvatarDetail.foto %>"/>
      <div class="tekst-en-buttons-container">
        <div>
          <h3>Achtergrondverhaal</h3>
          <p>
            <%= sessionPersonageAvatarDetail.biografie %>
          </p>
        </div>
        <div class="buttons-container">
          <button>Avatar instellen</button>
          <form action="/favoriet-toevoegen" method="post">
            <input type="hidden" name="favorietePersonage" value="<%= JSON.stringify(sessionPersonageAvatarDetail) %>">
            <button type="submit">Favoriet toevoegen</button>
          </form>
          <form action="/blacklisten" method="post">
            <input type="hidden" name="blacklistedPersonage" value="<%= JSON.stringify(sessionPersonageAvatarDetail) %>">
            <button type="submit">Blacklisten</button>
          </form>
          <div>
            <p>Geef hier je blacklist reden in:</p>
            <input class="blacklist-reden" type="text">
          </div>
        </div>
      </div>
    </article>
  </section>
<%- include("partials/footer") %>