<%- include("partials/header") %>
<section class="favoriete-personages">
    <h2 class="page-title">Favoriete personages</h2>
    <p class="pagina-uitleg">Hier zijn al je favoriete personages. Kies er één om items, skins, wapens te veranderen en om te vechten.</p>
    <article class="personages">
      <% favorietePersonages.forEach((favorietePersonage) => { %>
        <div class="personage-container">
        <a href="/detailed-favo-page/<%= favorietePersonage.id %>" class="personage">
          <h4><%= favorietePersonage.naam %></h4>
          <img src="<%= favorietePersonage.foto %>" class="personage-foto" />
        </a>
        <div class="gebruikte-items">
          <div class="gebruikte-item-container">
            <form class="hidden-form" method="post" action="/verwijder-item/<%= favorietePersonage.id %>">
              <img src="<%= favorietePersonage.gebruikteItems[0] %>" alt="">
              <input type="hidden" id="itemId" name="item" value="0">
            </form>
          </div>
          <div class="gebruikte-item-container">
            <form class="hidden-form" method="post" action="/verwijder-item/<%= favorietePersonage.id %>">
              <img src="<%= favorietePersonage.gebruikteItems[1] %>" alt="">
              <input type="hidden" id="itemId" name="item" value="1">
            </form>
          </div>
        </div>
      </div>
        <form class="hidden-form" action="/favoriet-verwijderen" method="post">
          <input type="hidden" name="favorietePersonage" value="<%= JSON.stringify(favorietePersonage) %>">
          <button class="hidden-button" type="submit"><img class="vuilbakje" src="/images/vuilbakje.png" alt="favoriet-verwijderen"></button>
        </form>
      </div>
      <% }); %>
    </article>
  </section>
<%- include("partials/footer") %>